header {
	border:red solid;
    height:100px;
    background: #f79676;
}

body {
      border: solid;
      width: 90%;
      margin: 0 auto 0 auto;
    }

footer {
      border: solid blue;
      height: 50px;
    }

a {
	color:#3498db;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}