header {
	border: 1px solid;
    height:100px;
}

body {
      border: 1px solid;
      width: 90%;
      margin: 0 auto 0 auto;
      background: url(img/abstract.png);
    }

footer {
      border: 1px solid;
      height: 100px;
      background: #feffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
    }

footer strong {
      color: red;
}

a {
    	color:black;
    	text-decoration: none;
}

a:hover {
    	color: blue;
    	text-decoration: underline;
}

#id_1 {
  color: orange;
}

table {
      border: 3px black solid;
      width: 350px;
      padding: 10px;
}

td {
      padding-top: 8px;
      padding-left: 8px;
}

li {
  display: inline;
}

.left {
  float: left;
  margin: 5px;
}

.right {
  float: right;
  margin: 5px;
}

.clear {
  display: block;
  clear: both;
}