header {
	border:solid;
    height:100px;
}

body {
      border: solid;
      width: 90%;
      margin: 0 auto 0 auto;
    }

footer {
      border: solid;
      height: 50px;
    }

main {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 18%, #545454 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#ffffff), color-stop(100%,#545454)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 18%,#545454 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 18%,#545454 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 18%,#545454 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 18%,#545454 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
}

a {
	color:black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}